html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  margin: 0;
}

.container {
  z-index: 0;
  float:left;
  clear:left;
  margin: 40px
}

.wrapper {
}

.header {
  position: relative;
  float: left;
  z-index: 1;
  height: auto;
  width: auto;
  padding: 40px;
  margin: 40px;
  background-color: #121212;
}

.canvas-container {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

gridCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.subheader {
  font-size: 14px;
  border-bottom: 4px solid #101010;
}



li {
  text-decoration:none;
  list-style-type: none;
}

li:hover {
    color: white;
}

h1 {
  margin: 0px;
}

.links {
  margin: 10px;
}


