<!DOCTYPE html>
<html lang="en">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
  </style>


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
  </head>
  <body>
    <div class="canvas-container">
      <canvas #gridCanvas></canvas>
    </div>

      <div class="header">
        <div class="titleCanvas">
          <canvas #titleCanvas></canvas>
        </div>
        <div class="subheader">
          <p>Portfolio of Jan-Willem van der Boom</p>
          <p>Artist / Data Analyst / Developer</p>
        </div>
        <div class="links">
          <li [class.active] = "selectedItem === 'home'" (click) = "selectItem('home')">home</li>
          <li [class.active] = "selectedItem === 'art'" (click) = "selectItem('art')">art</li>
          <li [class.active] = "selectedItem === 'projects'" (click) = "selectItem('projects')">projects</li>
          <li [class.active] = "selectedItem === 'about'" (click) = "selectItem('about')">about</li>
        </div>

      </div>
    <div class="wrapper">
    </div>
    <div class="container">
      <div class="content" *ngIf="selectedItem === 'art'">
        <app-art></app-art>
      </div>
      <div class="projects-container" *ngIf="selectedItem === 'projects'">
        <app-projects></app-projects>
      </div>
      <div class="projects-container" *ngIf="selectedItem === 'about'">
        <app-about></app-about>

      </div>
    </div>

  </body>
</html>
