html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  margin: 0;
}

.container {
  z-index: 0;
  float:left;
  clear:left;
  margin-left: 40px;
}

.wrapper {
}

.header {
  position: relative;
  float: left;
  z-index: 1;
  height: auto;
  width: auto;
  padding: 40px;
  margin: 40px;
  left: -100%;
  opacity: 0;
  background-color: rgba(18, 18, 18, 1);
  animation: smooth-appear 1s ease forwards;
}

@keyframes smooth-appear {
  to {
    left: 0px;
    opacity: 1;
  }
}

.titleCanvas {
  opacity: 0;
  animation: opacity-appear 4s ease forwards;
}

@keyframes opacity-appear {
  to {
    opacity: 1;
  }
}

.canvas-container {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

gridCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.subheader {
  font-size: 14px;
  border-bottom: 4px solid #101010;
}

li {
  text-decoration:none;
  list-style-type: none;
  display:inline-block;
  float:left;
  vertical-align: top;
  padding-right: 15px;
  background-color: #101010;
}

li:hover {
    color: white;
}


li.active {
/*  color: #d1ba69; */
  color: white;
}


li:last-child {
    border-right: 0;
}

h1 {
  margin: 0px;
}

.links {
  margin-top: 10px;
}


